
<h1 class="mb-3">Find apartment to stay</h1>


<div class="row">
   <% @flats.each do |flat| %>
    <div class="col-sm-3">
    <div class="card my-2" style="width: 17rem;">
    <%= image_tag("ap_image.jpg") %>
    <div class="card-body mx-2">
        <h5 class="flats-card"><%= flat.name %></h5>
        <p class="card-text"><%= flat.description %></p>
        <p> <%= link_to "More info", flat_path(flat), class: "btn btn-info" %></p>
    </div>
    </div>
  </div>
    <% end %> 
</div>


